*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{   
  
    background-color: aquamarine;
  background-size: cover;
  background-position: center;
font-family: sans-serif;
}
.menu-bar
{
    background-color: beige;
    text-align: center;
}

.menu-bar ul
{
 display: inline-flex;
 list-style: none;
 color: #ff0000;
}

.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: -15px;


}
.menu-bar ul li a
{
    text-decoration: none;
    color: #ff0000;
}





